<h2>Login</h2>
<form method="POST" action="/login">
  <input type="text" name="username" placeholder="Username" required><br>
  <input type="password" name="password" placeholder="Password" required><br>
  <button type="submit">Entrar</button>
</form>
<% if (typeof error !== 'undefined') { %>
  <p style="color:red;"><%= error %></p>
<% } %>
<a href="/register">Registar</a>